<Layouts.app flash={@flash}>
  <%!-- <h1>This is the product ID = <%= @id %></h1> --%>
  <%!-- <h1>This is the product page for = <%= @product.name %></h1> --%>
  <%!-- <p :if={@promo}>You have the promo code.</p> --%>
  <p>ID: {@product.id}</p>
  <p>Name: {@product.name}</p>
  <p>Console: <%= @product.console %></p>
  <%!-- <.product :if={@product != nil} product={@product}/> --%>

  <.button>
  Click me!
  </.button>
  <%!-- <.back navigate={~p"/products"}>Back to products</.back> --%>
</Layouts.app>